{% extends 'base.html' %}

{% block title %}Excluir Cliente{% endblock %}

{% block content %}

    <div class="botao-container container" style="align-items: center;">
        <h1>Excluir Cliente??</h1>
        <form action="" method="post" >
            <div class="container">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Sim" class="btn btn-danger">
                <a href="{% url 'lista_clientes' %}" type="submit" class="btn btn-success">Nao</a>
            </div>
        </form>
    </div>
{% endblock %}